<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="20110329" android:versionName="0.7.1"
    package="com.ch_linghu.fanfoudroid" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="3"/>
    <supports-screens android:anyDensity="true"/>
    <application android:icon="@drawable/icon"
        android:label="@string/app_name" android:name="TwitterApplication">
        <meta-data android:name="android.app.default_searchable" android:value=".SearchResultActivity"/>
        <activity android:label="@string/app_name"
            android:name=".LoginActivity" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:label="@string/app_name"
            android:name=".WriteActivity" android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.NEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.REPOST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name"
            android:name=".WriteDmActivity" android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.DMSW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name"
            android:name=".StatusActivity" android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.STATUS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name"
            android:name=".TwitterActivity" android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.TWEETS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name"
            android:name=".FavoritesActivity" android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.FAVORITES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name"
            android:name=".BrowseActivity" android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.BROWSES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--  TODO: why need stateHidden on the magic? -->
        <activity android:label="@string/page_title_mentions"
            android:name=".MentionActivity" android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.REPLIES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--  TODO: why need stateHidden on the magic? -->
        <activity android:label="@string/page_title_direct_messages"
            android:name=".DmActivity" android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.DMS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".SearchResultActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- TODO: do we dare handle http://twitter.com someday? -->
                <data android:host="search" android:scheme="twitta"/>
            </intent-filter>
        </activity>
        <activity android:name=".UserTimelineActivity">
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.USERTIMELINE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name=".ProfileActivity">
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.PROFILE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- TODO: do we dare handle http://twitter.com someday? -->
                <data android:host="users" android:scheme="twitta"/>
            </intent-filter>
        </activity>
        <activity android:name=".FollowersActivity">
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.FOLLOWERS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name=".FollowingActivity">
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.FOLLOWING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity"/>
        <activity android:label="@string/app_name" android:name=".PreferencesActivity"/>
        <service android:name=".service.TwitterService"/>
        <receiver android:name=".service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".FanfouWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.ch_linghu.fanfoudroid.FanfouWidget.NEXT"/>
                <action android:name="com.ch_linghu.fanfoudroid.FanfouWidget.PREV"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" 
            android:resource="@xml/widget_info"/>
        </receiver>

        <!-- <service android:name="com.ch_linghu.fanfoudroid.service.WidgetService"/> -->
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>
