<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="20110904" android:versionName="0.7.5.2"
    xmlns:android="http://schemas.android.com/apk/res/android" package="com.ch_linghu.fanfoudroid">
    <uses-sdk android:minSdkVersion="4"/>
    <supports-screens android:anyDensity="true"/>
    <application android:icon="@drawable/icon"
        android:label="@string/app_name" android:name=".TwitterApplication">
        <meta-data android:name="android.app.default_searchable" android:value=".SearchResultActivity"/>
        <activity android:name="com.ch_linghu.fanfoudroid.TwitterActivity" android:label="@string/app_name" android:theme="@style/Theme.Fanfoudroid" 
             android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.TWEETS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ch_linghu.fanfoudroid.LoginActivity" android:label="@string/app_name" android:theme="@style/Theme.Fanfoudroid" 
             android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name="com.ch_linghu.fanfoudroid.AboutActivity" android:label="@string/app_name" android:theme="@style/Theme.Fanfoudroid" 
             android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name="com.ch_linghu.fanfoudroid.WriteActivity" android:label="@string/app_name" android:theme="@style/Theme.Fanfoudroid" 
             android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.NEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.REPLY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.REPOST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ch_linghu.fanfoudroid.WriteDmActivity" android:label="@string/app_name" android:theme="@style/Theme.Fanfoudroid" 
             android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.DMSW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ch_linghu.fanfoudroid.StatusActivity" android:label="@string/app_name" android:theme="@style/Theme.Fanfoudroid" 
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.STATUS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:theme="@style/Theme.Fanfoudroid" 
            android:name="com.ch_linghu.fanfoudroid.FavoritesActivity" android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.FAVORITES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:theme="@style/Theme.Fanfoudroid" 
            android:name="com.ch_linghu.fanfoudroid.BrowseActivity" android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.BROWSES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--  TODO: why need stateHidden on the magic? -->
        <activity android:label="@string/page_title_mentions" android:theme="@style/Theme.Fanfoudroid" 
            android:name="com.ch_linghu.fanfoudroid.MentionActivity" android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.REPLIES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--  TODO: why need stateHidden on the magic? -->
        <activity android:label="@string/page_title_direct_messages" android:theme="@style/Theme.Fanfoudroid" 
            android:name="com.ch_linghu.fanfoudroid.DmActivity" android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.DMS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ch_linghu.fanfoudroid.SearchResultActivity" android:theme="@style/Theme.Fanfoudroid" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- TODO: do we dare handle http://twitter.com someday? -->
                <data android:host="search" android:scheme="twitta"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ch_linghu.fanfoudroid.UserTimelineActivity" android:theme="@style/Theme.Fanfoudroid" >
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.USERTIMELINE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ch_linghu.fanfoudroid.ProfileActivity" android:theme="@style/Theme.Fanfoudroid" >
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.PROFILE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- TODO: do we dare handle http://twitter.com someday? -->
                <data android:host="users" android:scheme="twitta"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ch_linghu.fanfoudroid.FollowersActivity" android:theme="@style/Theme.Fanfoudroid" >
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.FOLLOWERS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ch_linghu.fanfoudroid.FollowingActivity" android:theme="@style/Theme.Fanfoudroid" >
            <intent-filter>
                <action android:name="com.ch_linghu.fanfoudroid.FOLLOWING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ch_linghu.fanfoudroid.SearchActivity" android:theme="@style/Theme.Fanfoudroid" />
        <activity android:name=".PreferencesActivity" android:label="@string/app_name"
            android:theme="@style/Theme.Fanfoudroid" />
        <service android:name=".service.TwitterService" />
        <receiver android:name="com.ch_linghu.fanfoudroid.service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.ch_linghu.fanfoudroid.FanfouWidget"
        android:label="@string/widget_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.ch_linghu.fanfoudroid.FanfouWidget.NEXT"/>
                <action android:name="com.ch_linghu.fanfoudroid.FanfouWidget.PREV"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" 
            android:resource="@xml/widget_info"/>
        </receiver>
        <receiver android:name=".FanfouWidgetSmall"
        android:label="@string/widget_small_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.ch_linghu.fanfoudroid.FanfouWidget.NEXT"/>
                <action android:name="com.ch_linghu.fanfoudroid.FanfouWidget.PREV"/> 
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" 
            android:resource="@xml/widget_small_info"/>
        </receiver>

        <!-- <service android:name="com.ch_linghu.fanfoudroid.service.WidgetService"/> -->
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
</manifest>
